# ======================== #
# symfony/framework-bundle #
# ======================== #
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/

# =============== #
# phpunit/phpunit #
# =============== #
/phpunit.xml
.phpunit.result.cache

# ====================== #
# symfony/phpunit-bridge #
# ====================== #
.phpunit.result.cache
/phpunit.xml

# ==================== #
# symfony/asset-mapper #
# ==================== #
/public/assets/
/assets/vendor/

# ==================== #
# Packages and vendors #
# ==================== #
node_modules/
/vendor/

# === #
# IDE #
# === #
.idea/
.vs/
/*.tmp

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
