{% extends 'base.html.twig' %}

{% block title %}Create New Task{% endblock %}

{% block body %}
	<div class="container mx-auto px-4 py-8">
		<h1 class="text-3xl font-bold mb-6">Create New Task</h1>

		<div class="bg-white shadow-md rounded-lg p-6">
			{{ form(form) }}

			<a href="{{ path('tasks_index') }}" class="inline-block align-baseline font-bold text-blue-500 hover:text-blue-800">
				Cancel
			</a>
		</div>
	</div>
{% endblock %}
